/* header */
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
}

header li {
  padding: 10px;
}

header img {
  display: flex;
  justify-content: center;
  
}

